@font-face {
	font-family: 'PFSquare';
	src: url('../../fonts/custom/PFS-Regular.eot');
	src: local('☺'), 
			url('../../fonts/custom/PFS-Regular.woff') format('woff'), 
			url('../../fonts/custom/PFS-Regular.ttf') format('truetype'), 
			url('../../fonts/custom/PFS-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PFSquare-Light';
	src: url('../../fonts/custom/PFSquareSansPro-Light.eot');
	src: local('☺'),
			url('../../fonts/custom/PFSquareSansPro-Light.woff') format('woff'),
			url('../../fonts/custom/PFSquareSansPro-Light.ttf') format('truetype'),
			url('../../fonts/custom/PFSquareSansPro-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PFSquare-Thin';
	src: url('../../fonts/custom/PFSquareSansPro-Thin.eot');
	src: local('☺'), 
			url('../../fonts/custom/PFSquareSansPro-Thin.woff') format('woff'), 
			url('../../fonts/custom/PFSquareSansPro-Thin.ttf') format('truetype'), 
			url('../../fonts/custom/PFSquareSansPro-Thin.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DINPro';
	src: url('../../fonts/custom/DINPro-Regular.eot');
	src: local('☺'), 
			url('../../fonts/custom/DINPro-Regular.woff') format('woff'), 
			url('../../fonts/custom/DINPro-Regular.ttf') format('truetype'), 
			url('../../fonts/custom/DINPro-Regular.svg') format('svg');
}

/*--------------------------------------------*/

/*
* 	<COMMON SELECTORS>
*/
.section-title{
	text-align: center;
	font-family: 'DINPro';
	font-weight: bold;
	text-transform: uppercase;
	color: #0277BD;
	margin-bottom: 0;
}

.section-icon{
	width:86px;
	margin: 0 auto;
	display: block;
	opacity: .7;
}

.section-desc{
	text-align: center;
	font-family: 'DINPro';
	text-transform: uppercase;
	font-size: 3vmin;
}
.seperator{
	clear: both;
	max-width: 1024px;
	margin: 35px auto;
}
.seperator img{
	width: 100%;
	margin: 0 auto;
	display: block;
}
/*
* 	</ COMMON SELECTORS>
*/

/*--------------------------------------------*/

/*
*  <POPULAR PLACES STYLES>
*/
#popular-places{
	background: #F5F5F5;
	height: auto;
	padding-bottom: 25px;
}

#popular-places .places-wrap>.row>div{
	padding: 0;
}

.places-wrap{
	margin-top: 15px;
}

.places-wrap .thumbnail{
	border:none;
	background: none;
	margin-bottom: 0;
	padding: 5px;
}

.places-wrap .thumbnail>img{
	border-radius: 3px;
	-webkit-filter: brightness(50%);
	filter: brightness(50%);
	transition: all 1s ease;
}

.places-wrap .thumbnail>img:hover{
	-webkit-filter: brightness(100%);
	filter: brightness(100%);
}
/*
*  </ POPULAR PLACES STYLES>
*/

/*--------------------------------------------*/

/*
*  <ADVANTAGES SECTION STYLES>
*/
#advantages{
	padding-bottom: 40px;
}
#advantages h3{
	text-align: center;
	text-transform: uppercase;
	font-family: 'DINPro';
	padding-top: 50px;
	font-weight: bold;
}
#advantages p{
	text-align: center;
	text-transform: uppercase;
	font-family: 'DINPro';
	padding: 35px 100px;
}
#advantages .btn{
	margin: 0 auto;
	display: block;
	width: 120px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'DINPro';
	border:1px solid #ffbd26;
	color: #056997;
	font-size: 16px;
	transition: all .5s ease;
}
#advantages .btn:hover{
	background: #ffbd26;
	color: #fff;
}
/*
*  </ ADVANTAGES SECTION STYLES>
*/