// News list styles start here
#news-wrap{
	background-color: #f9f9f9;
	font-family:'DinPro';
	padding:0px;

	/*left Section codes*/
.col-md-3  {
h3 {
	font-weight:bold;
	text-transform:uppercase;	
}
li {
	list-style-type:none;
	padding-left:0px;
}
a{
	padding-left:0px;
}
a {
	&:hover {
	text-decoration:none;
}
}
.list-group-item {
		background-color:#f9f9f9;
		border: none;
		border-bottom:2px solid #ddd;


}


/*right Section codes*/
.col-md-9 {
	border:1px solid #ddd;
	background-color:#FFFFFF;
	.jumbotron {
		background-color:#FFFFFF;
	}
	h2 {
		font-weight: bold;
	}
	p {
		font-size: 16px;
		color:#4F4F4F;
	}
	spam {
		color:#4F4F4F;
	}
	img {
		width: 100%;
	}
	i {
		color:#286090;
		padding-left: 14px;
	}
	

}
}


