// News list styles start here
#news-wrap{
	background-color: #f9f9f9;
	font-family:'DinPro';
}
/*left Section codes*/
.col-md-3  {
h3 {
	font-weight:bold;
	text-transform:uppercase;	
}
li {
	list-style-type:none;
}
a:hover {
	text-decoration:none;
}
.list-group-item {
		background-color:#f9f9f9;
		border: none;
		border-bottom:2px solid #ddd;
	}
}


/*right Section codes*/
.col-md-8 {

	background-color:#FFFFFF;
	.jumbotron {
		background-color:#FFFFFF;
		margin-bottom:-60px;
	}
	h2 {
		font-weight: bold;
	}
	p {
		font-size: 16px;
		color:#4F4F4F;
	}
	a {
		color:#4F4F4F;
	}
	img {
		width: 100%;
		height: auto;
	}
	i {
		color:#286090;
		padding-left: 14px;
	}


}

