#profile-wrap{
	padding-top: 25px;
	font-family: 'DINPro';
	#avatar{
		&.thumbnail{
			border-radius: 50%;
		}
	}
	#user-general-info{
		td{
			padding:5px 0px;
			font-size: 16px;
		}
		.property{
			font-weight: bold;
			font-size: 18px;
		}
		.value{
			color: #696969;
		}
	}
	.user-name{
		font-weight: bold;	
	}

	.nav{
		li{
			a{
				text-transform: uppercase;
				font-weight: bold;
				color: #373737;
			}
		}
	}


}